<?xml version="1.0"?>
<launch>
    <!-- 基础参数 -->
    <arg name="robot_ip" default="192.168.3.100"/>
    <arg name="load_gripper" default="false"/>
    
    <!-- 1. 启动Franka控制 -->
    <include file="$(find franka_control)/launch/franka_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="load_gripper" value="$(arg load_gripper)"/>
    </include>

    <!-- 2. 加载自定义URDF -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find allegro_franka_model)/src/urdf/newModelforEnv.xml'"/>
    
    <!-- 3. 加载SRDF -->
    <param name="robot_description_semantic" textfile="$(find newModel)/config/panda.srdf" />

    <!-- 4. 启动控制器 -->
    <include file="$(dirname)/ros_controllers.launch" pass_all_args="true"/>

    <!-- 5. 使用MoveIt设置 -->
    <include file="$(dirname)/demo.launch">
        <arg name="load_robot_description" value="false"/>
        <arg name="moveit_controller_manager" value="simple"/>
        <arg name="pipeline" value="ompl"/>
    </include>
</launch>
