<launch>
  <!-- 加载相机的 URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(find allegro_franka_model)/src/urdf/l515.urdf"/>
  
  <!-- 启动 joint_state_publisher -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <remap from="joint_states" to="camera_pose"/>
  </node>
  
  <!-- 启动 robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="joint_states" to="camera_pose"/>
  </node>
  
  <!-- 启动 rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find allegro_franka_model)/config/l515.rviz"/>
</launch> 
